<h1>Listing provinces</h1>

<table>
  <tr>
    <th>Prov</th>
    <th>Province</th>
    <th>Pst tax</th>
    <th>Gst tax</th>
    <th>Qst tax</th>
    <th>Hst tax</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @provinces.each do |province| %>
  <tr>
    <td><%= province.prov_id %></td>
    <td><%= province.province %></td>
    <td><%= province.PST_tax %></td>
    <td><%= province.GST_tax %></td>
    <td><%= province.QST_tax %></td>
    <td><%= province.HST_tax %></td>
    <td><%= link_to 'Show', province %></td>
    <td><%= link_to 'Edit', edit_province_path(province) %></td>
    <td><%= link_to 'Destroy', province, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Province', new_province_path %>
