<p id="notice"><%= notice %></p>

<p>
  <b>Acc id:</b>
  <%= @account.acc_ID %>
</p>

<p>
  <b>Email:</b>
  <%= @account.email %>
</p>

<p>
  <b>Password:</b>
  <%= @account.password %>
</p>

<p>
  <b>Salt:</b>
  <%= @account.salt %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
